html,
body {
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 15px;
  border-radius: 20px;
 
 }

.container {
  opacity: 0.9;
    
  }

.box {
  margin-right: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
 }

 
.new-task {
  color: rgb(3, 3, 3);
  font-weight: 700px;
  font-size: 36px;
}

.btn-info {
  color: rgb(5, 108, 93);
  font-weight: bold;
  background-color: rgb(16, 242, 204);
}

.task-name {
  color: black;
  font-weight: 500;
  
}

.description {
  color: black;
  font-weight: 500;
}

.assign-to {
  color: black;
  font-weight: 500;
}

.due-date {
  color: black;
  font-weight: 500;
}

.box {
  border-radius: 10px;
  
}

.task {
  margin-right: 45px;
  
}


.buttons {
  text-align: center;
  background-color: rgb(16, 242, 204);
  justify-content: center;
}

.added-task1 {
  text-align: left;
}

h3 {
  color: rgb(7, 7, 7);
 
  font-weight: 500px;
}

.video-container {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 50%;
  min-height: 100%;
  width: auto;
  height: auto;
  
  z-index: -1;
  
  }

  
